<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3D-TouchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FC718941BCCF0ED002C3FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC718AD1BCCF0ED002C3FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC718B81BCCF0ED002C3FDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
